img {
  height: 250px;
  width: 150px;
  align: center;
}
.box {
  align: left;
}
.orange {
  color:#FF6600;
  height:250vh;
 width:100vw;
}
.blue {
  color:#003399;
  height:250vh;
 width:100vw; 
}
.red {
  color:#CC0000;
   height:250vh;
 width:100vw;
}
.green {
  color:#339900;
   height:250vh;
 width:100vw;
}
